@import url('https://fonts.cdnfonts.com/css/iranyekan');

body {
  background-color: #ddd;
  font-family: "IRANYekan", sans-serif;
}

section {
  padding: 3rem 1rem 5rem 1rem;
  margin: auto;
  width: 80%;
  height: auto;
  display: grid;
  grid-template: repeat(2, 520px)/repeat(4, 270px);
  justify-content: center;
}